@{
    ViewBag.Title = "QR Code";
}

<h2>QR Code Page</h2>

<div style="display: flex;">
    <div style="flex: 1; text-align: left;">
        <h3>Username: @ViewBag.Username</h3>
    </div>
    <div style="flex: 2;">
        <!-- Placeholder for the QR code generation logic -->
        <p>QR Code will be generated here.</p>
    </div>
    <script src="~/Scripts/MYJS.js"></script>
</div>
